custom-sidebar {
  display: inline;
}

div.custom-sidebar {
  width: 10%;
}

.submenu-heading {
  margin-top: 2em;
  font-size: 1.2em;
}

.menu-items-positioning {
  margin-top: 8em;
  font-size: 1.2em;
}

.sidebar-menu-items {
  list-style-type: none;
}