custom-sidebar {
  display: inline;
}

div.custom-sidebar {
  width: 10%;
}

.submenu-heading {
  margin-top: 0.5em;
  font-size: 1.2em;
  cursor: default;
}

.menu-items-positioning {
  margin-top: 8em;
  font-size: 1.2em;
}

.sidebar-list {
  list-style-type: none;
}

.sidebar-hr {
  cursor: default;
}