[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
minizinc = "*"
pipenv = "*"
python-dotenv = "*"
Flask = "*"
sqlalchemy = "*"
flask-cors = "*"
alembic = "*"
boto3 = "*"
bcrypt = "*"
flask-restful = "*"
mysqlclient = "*"
pyjwt = "*"
sendgrid = "*"

[requires]
python_version = "3.8"
