commands:
  set_path:
    command: echo 'export PATH=MiniZincIDE-2.5.5-bundle-linux-x86_64/bin:$PATH' >> /root/.bash_profile
    command: echo 'export QT_PLUGIN_PATH=MiniZincIDE-2.5.5-bundle-linux-x86_64/plugins:$QT_PLUGIN_PATH' >> /root/.bash_profile
    command: echo 'export LD_LIBRARY_PATH=MiniZincIDE-2.5.5-bundle-linux-x86_64/lib:$LD_LIBRARY_PATH' >> /root/.bash_profile