/*
    -> rgba
    -> scrollbar:
        ::-webkit-scrollbar-thumb
        ::-webkit-scrollbar-track
        ::-webkit-scrollbar

*/

/* ---------- Browser Compatibility ---------- */

@mixin align-items($x) {
    -webkit-align-items: $x;
            align-items: $x;
}

@mixin appearance($x) {
    -webkit-appearance: $x;
       -moz-appearance: $x;
        -ms-appearance: $x;
            appearance: $x;
}

@mixin animation($x) {
    -webkit-animation: $x;
       -moz-animation: $x;
         -o-animation: $x;
            animation: $x;
}

@mixin animation-fill-mode($x) {
    -webkit-animation-fill-mode: $x;
       -moz-animation-fill-mode: $x;
         -o-animation-fill-mode: $x;
            animation-fill-mode: $x;
}

@mixin background-image-linear-gradient($x) {
    background-image: -webkit-linear-gradient($x);
    background-image:    -moz-linear-gradient($x);
    background-image:     -ms-linear-gradient($x);
    background-image:      -o-linear-gradient($x);
    background-image:         linear-gradient($x);
}

@mixin background-size($x) {
    -webkit-background-size: $x;
       -moz-background-size: $x;
         -o-background-size: $x;
            background-size: $x;
}

@mixin border-radius($x) {
    -webkit-border-radius: $x;
       -moz-border-radius: $x;
            border-radius: $x;
}

@mixin box-sizing($x) {
    -webkit-box-sizing: $x;
       -moz-box-sizing: $x;
            box-sizing: $x;
}

@mixin box-shadow($x) {
    -webkit-box-shadow: $x;
       -moz-box-shadow: $x;
            box-shadow: $x;
}

@mixin calc($p, $x) {
    #{$p}: -webkit-calc(#{$x});
    #{$p}:    -moz-calc(#{$x});
    #{$p}:         calc(#{$x});
}

@mixin display-flex {
    display: -webkit-box;
    display:    -moz-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;
}

@mixin flex-direction($x) {
    -webkit-flex-direction: $x;
       -moz-flex-direction: $x;
  	    -ms-flex-direction: $x;
	        flex-direction: $x;
}

@mixin justify-content($x) {
    -webkit-justify-content: $x;
       -moz-justify-content: $x;
            justify-content: $x;
}

@mixin keyframes($x) {
    @-webkit-keyframes #{$x} { @content; }
       @-moz-keyframes #{$x} { @content; }
         @-o-keyframes #{$x} { @content; }
            @keyframes #{$x} { @content; }
}

@mixin object-fit($x) {
    -o-object-fit: $x;
       object-fit: $x;
}

@mixin object-position($x) {
    -o-object-position: $x;
       object-position: $x;
}

@mixin outline($x) {
    -moz-outline: $x;
         outline: $x;
}

@mixin overflow($x, $y) {
    overflow-x: $x;
    overflow-y: $y;
}

@mixin screen-mobile  { @media only screen and (max-width: 650px) { @content; } }
@mixin screen-tablet  { @media only screen and (min-width: 651px) and (max-width: 1080px) { @content; } }
@mixin screen-desktop { @media only screen and (min-width: 1081px) { @content; } }
@mixin screen-min($x) {
    @media only screen and (min-width: $x) {
        @content;
    }
}
@mixin screen-max($x) { @media only screen and (max-width: #{$x}) { @content; } }
@mixin screen-between($f, $t) { @media only screen and (min-width: $f) and (max-width: $t) { @content; } }

@mixin text-decoration($x) {
    -webkit-text-decoration: $x;
            text-decoration: $x;
}

@mixin transform($x) {
    -webkit-transform: $x;
       -moz-transform: $x;
        -ms-transform: $x;
         -o-transform: $x;
            transform: $x;
}

@mixin transform-origin($x) {
    -webkit-transform-origin: $x;
       -moz-transform-origin: $x;
	    -ms-transform-origin: $x;
	     -o-transform-origin: $x;
	        transform-origin: $x;
}

@mixin transition($x) {
    -webkit-transition: $x;
            transition: $x;
}

@mixin user-select($x) {
    -webkit-user-select: $x;
       -moz-user-select: $x;
        -ms-user-select: $x;
            user-select: $x;
}