@import "./variables.css", "./functions.scss";

html, body, div#root, div.main-body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
} body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* -------------- Custom Button ------------- */

button {
  &.type-1 {
    padding: 15px 25px;
    color: white;
    font-size: 20px;
    background-color: var(--red-1);
    border: none;
    appearance: none;
    transition: all 0.5s;
  
    &:hover, &:focus {
        color: var(--red-3);
        background-color: white;
        border: 1px solid var(--red-1);
    }
  }
}

svg {

  // Circle Close
  &[type="close"] {
    g {
      @include transform(translate(-1380px, -2830px));
      circle { @include transform(translate(1380px, 2830px)); }
      ellipse { @include transform(translate(1406px, 2857px)); }
      path { @include transform(translate(-15.33px, -14.478px)); }
    }
  }
}