@import "../node_modules/tachyons-sass/tachyons.scss";
@import "./variables.css", "./functions.scss";

html, body, app-root, main-body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  app-root {
    display: block;
    
    main-body {
      display: block;
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}

.h4{
  height: inherit;
}

/* -------------- Custom Elements ------------- */

button {
  &.type-1 {
    all: unset;
    color: var(--white-1);
    font-size: 15px;
    background-color: var(--red-1);
    border: 1px solid transparent;
    @include border-radius(5px);
    @include appearance(none);
    padding: 10px 20px;
    cursor: pointer;
    @include transition(0.5s);
  
    &:hover, &:focus {
      color: var(--red-3);
      background-color: var(--white-1);
      border: 1px solid var(--red-1);
    }
  }
}

svg {

  // Circle Close
  &[type="close"] {
    g {
      @include transform(translate(-1380px, -2830px));
      circle { @include transform(translate(1380px, 2830px)); }
      ellipse { @include transform(translate(1406px, 2857px)); }
      path { @include transform(translate(-15.33px, -14.478px)); }
    }
  }
}