:root {
    --black-1: rgb(35, 35, 35);
    --black-2: rgb(15, 15, 15);

    --red-1: rgb(205, 30, 30);
    --red-2: rgb(160, 35, 35);
    --red-3: rgb(115, 5, 0);

    --silver-1: rgb(165, 165, 165);
    --silver-2: rgb(105, 105, 105);
}