@import "../main.scss";

div.main-body {
    padding: 15px 15px;

    h1 {
        color: $black-2;
        font-size: 25px;
        font-weight: 500;
        margin: 0;
        cursor: default;
    } hr {
        height: 0.1px;
        background-color: $silver-2;
        margin: 25px 0;
    } div.entry {
        width: 100%;
    
        div.con {
            height: 75px;
            width: auto;
            font-size: 17px;
            display: inline-block;
            margin: 0 15px 5px 0;
    
            label {
                display: block;
                color: $black-1;
                margin: 0 0 5px 2px;
                position: relative;
            } input, select {
                height: 40px;
                color: $black-1;
                font-size: 20px;
                border: none;
                border: 1px solid $silver-1;
                border-radius: 0;
                padding: 5px;
                position: relative;
                bottom: 0;
            } input {
                width: auto;
            } select {
                width: 200px;
                z-index: 0;
                cursor: pointer;
                // &::before, &::after { content: ""; display: block; height: 2px; width: 10px; background-color: $skyblue-2; position: absolute; top: calc(50% - 1px); transition: all 0.5s; z-index: 1; } &::before { right: 16px; transform: rotate(45deg); } &::after { right: 10px; transform: rotate(-45deg); }
            } 
        } insert {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: $silver-1;
            position: relative;
            bottom: 0;
            margin: 0;
            cursor: pointer;
    
            &::before, &::after {
                content: "";
                display: block;
                background-color: white;
                border-radius: 50px;
                position: absolute;
            } &::before {
                height: 10%;
                width: 75%;
                margin: 45% 0 0 12.5%;
            } &::after {
                height: 75%;
                width: 10%;
                margin: 12.5% 0 0 45%;
            }
        }
    } div.output {
        min-height: 250px;

        request-body {
            display: inline-block;
            margin: 15px;
        }
    } button {
        font-size: 15px;
        padding: 10px;
    }
}