@import "../../styles/functions.scss";

a.nav-link {
  color: white;
}
//
nav.navbar {
 background-color: var(--red-2);
  //background-color: #e7040f;
  //div.navbar-collapse {
  //  //max-width: 1080px;
  //  margin: 0 auto;

//    a.navbar-brand, div.navbar-nav a.nav-link{
//      white-space: nowrap;
//      font-family: Segoe UI;
//      font-style: normal;
//      font-weight: normal;
//      @include transition(0.5s);
//    } a.navbar-brand {
//      color: rgb(255, 255, 255);
//      font-size: 20px;
//    } div.navbar-nav a.nav-link {
//      color: rgba(255, 255, 255, 0.9);
//      font-size: 15px;
//
//      &:hover {
//        color: rgb(255, 255, 255);
//        background-color: var(--red-3);
//      }
//    }
//  }
}
