@import "../../styles/functions.scss";

a.nav-link {
  color: white;
}

nav.navbar {
 background-color: var(--red-2);
  //width: 100vw;
  //background-color: #e7040f;
  div.navbar-collapse {
    margin: 0 auto;

    a.navbar-brand, div.navbar-nav, a.nav-link{
      white-space: nowrap;
      font-style: normal;
      font-weight: normal;
      @include transition(0.5s);
    } a.navbar-brand {
      color: rgb(255, 255, 255);
      font-size: 20px;
    } div.navbar-nav a.nav-link {
      color: rgba(255, 255, 255, 0.9);
      font-size: 15px;

      &:hover {
        color: rgb(255, 255, 255);
        background-color: var(--red-3);
      }
    }
  }
}

.login-navlink {
  display: none;
}
