@import "../functions.scss";

home {
  display: block;

  input[type="text"] {
    all: unset;
    width: 300px;
    font-size: 20px;
    border: 1px solid var(--black-1);
    @include box-sizing(border-box);
    @include border-radius(5px);
    margin: 0 10px;
    padding: 9px 10px;
  } button.type-1 {
    font-size: 18px;
    margin: 0;
  }
}