@import "../../../styles/functions.scss","../../../../node_modules/react-day-picker/lib/style.css";

availability {
  display: block;
  padding-top: 25px;

  div.exterior {
    width: 100%;
    position: relative;
    align-items: center;

    .calendar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .time-range {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 40px;
    }

    .con {
      margin-top: 70px;
      align-items: center;
      align-content: center;
      text-align: center;
    }

    .sen {
      color: black;
      font-size: 25px;
      padding-right: 10px;
    }
  }
}