.calendar-body {
  margin-top: 5em;

  grid-area: main;
}

/* Arrange page elements */
.calForm {grid-area: menu;}

.calHeader {grid-area: header;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'menu main';
}

/* For hiding elements */
.hidden {
  display: none;
}